.button {
  font: inherit;
  font-size: 1.4rem;
  padding: 1rem 1.75rem;
  border: none;
  border-radius: 4px;
  background: #ff0055;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin: 0 2rem;
  outline: none;

  &:hover {
    background: lighten($color: #ff0055, $amount: 40%);
    color: #000;
  }

  &:disabled {
    background: #ccc;
    color: #000;

    &:hover {
      background: #ccc;
      color: #000;
    }
  }
}

.place-form {
  list-style: none;
  margin: 1.5rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;

  font-size: 1.5rem;
}

.form-control {
  margin: 1rem 0;

  label,
  input,
  textarea {
    display: block;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }

  &--invalid label,
  &--invalid p {
    color: red;
  }

  &--invalid p {
    margin-top: 0.75rem;
  }

  &--invalid input,
  &--invalid textarea {
    border-color: red;
    background: #ffd1d1;
  }
}
