// WEBPAGE RESET & FONT SIZING
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: $font-size-base;
}

body {
  box-sizing: border-box;
}

body {
  word-wrap: break-word; /* force long words to break */
  overflow-wrap: break-word; /* newer syntax standard that replaces word-wrap */
}

code,
pre,
samp {
  white-space: pre-wrap; /* force long lines to break */
}
